# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
data = {'evolution':['lvysaur','charmeleon','wartortle','Metapod'],'hp':[45,39,44,45],'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],'pokedex':['yes','no','yes','no'],'type':['grass',"fire",'water','bug']}

### Step 3. Assign it to a variable called pokemon

In [5]:
pokemon = pd.DataFrame(data)
pokemon

    evolution  hp        name pokedex   type
0     lvysaur  45   Bulbasaur     yes  grass
1  charmeleon  39  Charmander      no   fire
2   wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [10]:
pokemon = pokemon[['name','type', 'hp', 'evolution', 'pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     lvysaur     yes
1  Charmander   fire  39  charmeleon      no
2    Squirtle  water  44   wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [11]:
pokemon['place'] = ['ain shams','matariya','sharabyia','gamalilya']

### Step 6. Present the type of each column

In [14]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

How to sort the data using specific columns?

In [17]:
pokemon = pokemon.sort_values(by='hp')